// Place all the styles related to the coachings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


h1 {
  padding-bottom: 25px;
  font-size: 25px;
}

h4 {
  font-size: 20px;
}

p {
  margin-bottom: 20px;
}

#redirect {
  margin: 25px 0;
}

#form-contents {
  width :40%;
  margin: auto;
  padding: 20px 10px;
  border-left: 3px solid #CCCCCC;
}
